<h1>Editing Runlog</h1>

<%= render 'form', runlog: @runlog %>

<%= link_to 'Show', @runlog, class: 'uk-button uk-button-primary' %> |
<%= link_to 'Back', runlogs_path, class: 'uk-button uk-button-default' %>
