<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Show', @course, class: 'uk-button uk-button-default' %> |
<%= link_to 'Back', courses_path, class: 'uk-button uk-button-default' %>
