<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shoe.name %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe), class: 'uk-button uk-button-primary' %> |
<%= link_to 'Back', shoes_path, class: 'uk-button uk-button-default' %>
